{% extends 'base.html.twig' %}

{% block title %}Users index
{% endblock %}

{% block body %}

	<br><br>
	<div class="container">

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Activated</th>
					<th>Dateofbirth</th>
					<th>Telephone</th>
					<th>City</th>
					<th>Totaleuros</th>
					<th>Lastacess</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.activated }}</td>
						<td>{{ user.dateofbirth ? user.dateofbirth|date('Y-m-d') : '' }}</td>
						<td>{{ user.telephone }}</td>
						<td>{{ user.city }}</td>
						<td>{{ user.totaleuros }}</td>
						<td>{{ user.lastacess }}</td>

						<td style="width: 20%;">
							<a href="{{path('app_users_show', {'id': user.id}) }}" class="table-link text-warning">
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							<a href="{{ path('app_users_edit', {'id': user.id})}}" class="table-link text-info">
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							<a href="{{path('users_delete',{'id': user.id})}}" class="lila" onclick="return confirm('Are you sure?')" class="table-link danger">
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
