{% extends 'base.html.twig' %}

{% block title %}New Users
{% endblock %}

{% block body %}

	<div class="container h-100">
		<div class="row h-100">
			<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
				<div class="d-table-cell align-middle">

					<div class="text-center mt-4">
						<h1 class="h2">New User</h1>
					</div>
					{{ form_start(form)}}
					<div class="card">
						<div class="card-body">
							<div class="m-sm-4">
								<div
									class="form-group">
									{# {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }} #}
									{{ form_row(form.name , {'attr' : {'class' : 'form-control form-control-lg'}}) }}
									{# <label>Email</label>
																																																																																								<input class="" type="email" name="email" placeholder="Enter your email"> #}
								</div>
								<div
									class="form-group">
									{# {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }} #}
									{{ form_row(form.activated , {'attr' : {'class' : 'form-control form-control-lg'}}) }}
									{# <label>Email</label>
																																																																																								<input class="" type="email" name="email" placeholder="Enter your email"> #}
								</div>
								<div
									class="form-group">
									{# {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'form-label'}}) }} #}
									{{ form_row(form.dateofbirth , {'attr' : {'class' : 'form-control form-control-lg'}}) }}

								</div>
								<div
									class="form-group">
									{# {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'form-label'}}) }} #}
									{{ form_row(form.telephone , {'attr' : {'class' : 'form-control form-control-lg'}}) }}

								</div>
								<div
									class="form-group">
									{# {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'form-label'}}) }} #}
									{{ form_row(form.city , {'attr' : {'class' : 'form-control form-control-lg'}}) }}

								</div>
								<div
									class="form-group">
									{# {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'form-label'}}) }} #}
									{{ form_row(form.lastacess , {'attr' : {'class' : 'form-control form-control-lg'}}) }}

								</div>
									<div
									class="form-group">
									{# {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'form-label'}}) }} #}
									{{ form_row(form.totaleuros , {'attr' : {'class' : 'form-control form-control-lg'}}) }}

								</div>
				
					 
								<br><br>
								<div
									class="form-group">
									{# <button type="submit" class="btn w-100 text-white btn-lg bg-dark">Ajouter</button> #}
									<button class="btn w-100 text-white btn-lg bg-dark">{{ button_label|default('Save') }}
									</button>

								</div>
							</div>
						</div>
					</div>
					{{ form_end(form)}}

				</div>
			</div>
		</div>
	</div>
	{# <h1>Create new Users</h1>
	
	    {{ include('users/_form.html.twig') }}
	
	    <a href="{{ path('app_users_index') }}">back to list</a> #}
{% endblock %}
