{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}

	<div class="container h-100">
		<div class="row h-100">
			<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
				<div class="d-table-cell align-middle">

					<div class="text-center mt-4">
						<h1 class="h2">User</h1>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="m-sm-4">
								<div class="form-group">

									<div class="form-label">
										<label>Name</label>
									</div>
									<div class="form-control form-control-lg">
										<label>{{ user.name }}</label>
									</div>
								</div>
								<div class="form-group">
									<div class="form-label">
										<label>Activated</label>
									</div>
									<div class="form-control form-control-lg">
										<label>{{ user.activated }}</label>
									</div>
								</div>
								<div class="form-group">
									<div class="form-label">
										<label>Dateofbirth</label>
									</div>
									<div class="form-control form-control-lg">
										<label>{{ user.dateofbirth ? user.dateofbirth|date('Y-m-d') : '' }}</label>
									</div>
								</div>
								<div class="form-group">
									<div class="form-label">
										<label>Telephone</label>
									</div>
									<div class="form-control form-control-lg">
										<label>{{ user.telephone }}</label>
									</div>
								</div>
								<div class="form-group">
									<div class="form-label">
										<label>City</label>
									</div>
									<div class="form-control form-control-lg">
										<label>{{ user.city }}</label>
									</div>
								</div>
								<div class="form-group">
									<div class="form-label">
										<label>Totaleuros</label>
									</div>
									<div class="form-control form-control-lg">
										<label>{{ user.totaleuros }}</label>
									</div>
								</div>

								<div class="form-group">
									<div class="form-label">
										<label>Lastacess</label>
									</div>
									<div class="form-control form-control-lg">
										<label>{{ user.lastacess }}</label>
									</div>
								</div>


								<br><br>
								<div class="form-group">
									<a class="btn w-100 text-white btn-lg bg-dark" href="{{ path('app_users_index') }}">back to list</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	{# <div class="container">
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ user.id }}</td>
					</tr>
					<tr>
						<th>Name</th>
						<td>{{ user.name }}</td>
					</tr>
					<tr>
						<th>Activated</th>
						<td>{{ user.activated }}</td>
					</tr>
					<tr>
						<th>Dateofbirth</th>
						<td>{{ user.dateofbirth ? user.dateofbirth|date('Y-m-d') : '' }}</td>
					</tr>
					<tr>
						<th>Telephone</th>
						<td>{{ user.telephone }}</td>
					</tr>
					<tr>
						<th>City</th>
						<td>{{ user.city }}</td>
					</tr>
					<tr>
						<th>Totaleuros</th>
						<td>{{ user.totaleuros }}</td>
					</tr>
					<tr>
						<th>Lastacess</th>
						<td>{{ user.lastacess }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<a href="{{ path('app_users_index') }}">back to list</a>
	
		<a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
	
		{{ include('users/_delete_form.html.twig') }} #}
{% endblock %}
